<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDqYBV6niLZmXInyliSdcr3RZwOMMQynsw</string>
	<key>GCM_SENDER_ID</key>
	<string>261240129380</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.firgobhaktiar.ascTest.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>asctest-1c4af</string>
	<key>STORAGE_BUCKET</key>
	<string>asctest-1c4af.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:261240129380:ios:ec5500eb388f18f7c65c71</string>
</dict>
</plist>